@import ../utils/variables

body
    width: 100%
    height: 100%
    font-family: Arial, sans-serif
    background: #fff

.container
    max-width: 960px
    margin: 0 auto
    position: relative

    @media #{$tablet}
        max-width: 740px

    @media #{$mobile}
        max-width: 480px


a
    text-decoration: none

a:hover
    text-decoration: underline