<div class="home">
    <div class="header">
        <img ng-src="{{vm.organization.avatar_url}}" alt="">
        <ul>
            <li>
                <i class="fa fa-map-marker"></i>
                <span>{{vm.organization.location}}</span>
            </li>
            <li>
                <i class="fa fa-link"></i>
                <span><a ng-href="{{vm.organization.blog}}">{{vm.organization.blog}}</a></span>
            </li>
            <li>
                <i class="fa fa-envelope"></i>
                <span>{{vm.organization.email}}</span>
            </li>
        </ul>
    </div>
    <div class="content">
        <ul>
            <li ng-repeat="repository in vm.repositories" ng-click="vm.goToDetails(repository.name)">
                <p class="name">{{repository.name}}</p>
                <p class="description">{{repository.description}}</p>
            </li>
        </ul>
    </div>
</div>